.App{
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    height: 100;
  }
  
  .content {
    flex: 1; /* 컨텐츠가 남은 공간을 모두 차지하도록 함 */
    padding: 20px;
  }
  
  /* Sidebar 스타일은 이전에 작성한 것을 그대로 사용하면 됩니다. */
  
  .sidebar {
    flex: 0 0 200px;
    height: calc(100vh - 40px);
    background-color: #333;
    color: white;
    padding: 20px;
  }