@import './common.scss';

.generalWrapper {
  display: flex;
  height: 100vh;
}

.bodyWrapper {
  @include flex-center;
  width: $body-width;
  height: $body-height;
  font-size: $middle-font-size;
  color: $smoke-blue;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  p {
    margin: 0;
  }
}

.publicWrapper {
  @include flex-center;
  width: 100vw;
  font-size: $middle-font-size;
  color: $smoke-blue;
  text-align: center;
  p {
    margin: 0;
  }
}
