@import "./Common.scss";

@mixin loginbtn-style {
    @include flex-style(row, center, center);
    font-size: 2vmax;
    padding: 5%;
    text-decoration: none;
}


:root {
    .loginPage {
        margin: 0;
        position: fixed;
        top: 25%;
        left: 25%;
        height: 50vh;
        width: 50vw;
        @include flex-style(column, space-evenly, center);
        .loginBox {
            @include flex-style(row, space-evenly, center);
            height: 80%;
            margin: 0;
            .loginInput {
                @include flex-style(column, space-evenly, center);
                height: 60%;
                input {
                    font-size: 1.2vmax;
                }
            }
            button {
                font-size: 1vmax;
            }
        }

    }
}




color {
    color: #213547;
    color: #747bff;
    color: #ffffff;
    color: #f9f9f9;
    color: #646cff;
    color: #242424;
    color: #535bf2;
    color: #1a1a1a;
}
