@import "./Common.scss";

// 상단바
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    margin: 0;
    @include flex-style(row, space-around, center);
    
    .title, .logoutBtn {
        width: 15vw;
        height: 100%;
        @include flex-style(row, center, center);
        // h1 {
        //     text-decoration: none;
        // }
        a {
            font-size: 1.7vw;
            text-decoration: none;
        }
    }
    .linkTab {
        font-size: 1.7vw;
    }
    .logoutBtn {
        button {
            font-size: 1.2vw;
            &:hover {
                background-color: #747bff;
                color: white;
            }
        }
    }
}

// 사이드바
aside {
    background-color: blueÒ;
    position: fixed;
    left: 0;
    top: 15vh;
    width: 15vw;
    height: 85vh;

    nav {
        @include flex-style(column, space-around, center);
        position: absolute;
        height: 70vh;
        width: 15vw;
        transition: 1s;
        .sideNav {
            text-decoration: none;
        }
        &.isClose {
            transform: translateX(-20vw);   
        }
    }
}

// 메인
main {
    margin: 0;
    position: fixed;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 85vh;
    @include flex-style(column, center, center);

    div {
        @include flex-style(column, center, center);
    }
    .goMain {
        text-decoration: none;
    }

}
