.sideBar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    ul {
        display:flex;
        flex-direction: column;
        background-color: black;
    }
    .onoffBtn {
        display:flex;
        justify-content: right;
        top:0;
        width: 10%;
        height: 10%;
    }

}