header {
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vmax;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    h1 {
        padding: 0.5rem;
        width: 10vmax;
        color: white;
        font-size: 3vmax;
    }
    
    .navBar {
        top: 0;
        width: 60vmax;
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        font-size: 1.5vmax;
        font-weight: bold;
        div {
            &:hover {
                transform: scale(1.2);
                }
            }
        }

    .logoutBtn {
        top: 0;
        right: 0;
        width: 10vmax;
    }
}